.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    border-radius: 5%;
    text-align: center;
    background-color: white;
}

.main > img{
    border-radius: 5%;
    padding: 20px;
}
.main > p{
    font-size: 15px;
}
.main > h1{
    padding: 10px;
}